* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-accent: hsl(261, 57%, 45%);
  --color-accent-hover: hsl(261, 77%, 30%);
  --shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

body {
  font-family: "Source Sans Pro", "PT Sans", "Source Code Pro", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

code {
  font-family: "Inconsolata", "Source Code Pro", "Monaco", monospace;
}

#limit {
  background: var(--color-accent);
  width: 100%;
  height: 4px;
  transition: width 0.2s ease-in-out;
}

a {
  font-weight: normal;
  color: var(--color-accent);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.loading {
  opacity: 0.7;
  pointer-events: none;
}

header {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background: none;
  padding: 0.4em;
  color: var(--color-accent);
  font-weight: bold;
  border: 3px solid var(--color-accent);
  border-radius: 1.5em;
  transition: all 0.2s ease-in-out;
}

header button:hover {
  cursor: pointer;
  background: var(--color-accent);
  color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 1em;
  transition: opacity 0.2s ease-in-out;
}

form h1,
form label {
  width: 100%;
}

form input {
  flex: 1;
  padding: 8px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  font-family: inherit;
  transition: all 0.2s;
}

form input:focus {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}

form input:not(:placeholder-shown):invalid {
  border-color: hsl(0, 63%, 46%);
  background: hsl(0, 63%, 46%, 0.2);
  border-radius: 0;
}

form button {
  border: none;
  background: var(--color-accent);
  color: #fff;
  padding: 8px;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  transition: width 0.2s;
}

form button:hover,
form button:focus {
  background: var(--color-accent-hover);
  cursor: pointer;
}

form:invalid button {
  display: none;
}

form:valid input {
  border-color: var(--color-accent);
}

ul {
  list-style: none;
  margin: 2em auto;
  width: 90vw;
  max-width: 800px;
}

li {
  background: #fff;
  padding: 1em 2em;
  position: relative;
  margin-bottom: 2em;
  width: calc(100% - 26px);
  box-shadow: var(--shadow);
  transition: opacity 0.2s ease-in-out;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 50%);
  display: flex;
  border-radius: 50%;
  padding: 6px;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--color-accent);
}

li.modified::before {
  background: yellow;
  color: #000;
  content: "M";
}

li:target::before {
  background: var(--color-accent-hover);
  content: "#";
}

li h2 a {
  font-size: 1.3rem;
  font-weight: bold;
}

li h2 span:nth-of-type(2) {
  font-weight: normal;
}

li h2 span:nth-of-type(3) {
  color: var(--color-accent-hover);
}

li .buttons {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  right: 0;
  top: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

li button {
  border: none;
  background: none;
  height: 100%;
  padding: 6px 1em;
  background-position: center;
  background-size: 1.5em;
  background-repeat: no-repeat;
  text-indent: -10000px;
}

li button:hover,
li button:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

li button.remove {
  background-image: url(icons/remove.svg);
}
li button.refresh {
  background-image: url(icons/refresh.svg);
}
li button.self-link {
  background-image: url(icons/loc.svg);
}

li p:first-of-type {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

li p:first-of-type span {
  font-style: italic;
}

footer {
  background: #fff;
  padding: 1em 2em;
  box-shadow: var(--shadow);
  border: 3em solid;
  border-image: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  border-image-slice: 1;
}

footer p.credits {
  text-align: center;
}

footer p + p {
  margin: 1em 0;
}

footer code {
  background: #eee;
  padding: 3px;
}

hr {
  border: none;
  background: none;
  border-bottom: 2px solid var(--color-accent);
  margin: 1em auto;
}

#logs {
  white-space: normal;
}
