* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-accent: #5522fa;
  --color-accent-hover: hsl(261, 77%, 30%);
  --gradient-a: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  --gradient-b: linear-gradient(90deg, #0074e4 0%, #5522fa 100%);
  --shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

body {
  font-family: "Source Sans Pro", "PT Sans", "Source Code Pro", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

code {
  font-family: "Inconsolata", "Source Code Pro", "Monaco", monospace;
}

#limit {
  background: var(--color-accent);
  width: 100%;
  height: 4px;
  transition: width 0.2s ease-in-out;
}

a {
  font-weight: normal;
  color: var(--color-accent);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.loading {
  opacity: 0.7;
  pointer-events: none;
}

h1 {
  padding: 0.5em;
  font-size: 2.5em;
  text-align: center;
}

main {
  padding: 1em;
  width: 120ch;
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

h2::after {
  content: "";
  flex: 1;
  height: 2px;
  background: var(--gradient-a);
  margin-left: 1ch;
}

ul {
  list-style: none;
}

li {
  padding: 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.drag-elem,
.drag-over {
  box-shadow: var(--shadow);
}

.drag-elem {
  opacity: 0.1;
}

.drag-over {
  background: rgba(179, 244, 224, 0.6);
  animation: pulsate 1s ease-in-out infinite alternate-reverse;
  animation-delay: 0.5s;
}

@keyframes pulsate {
  from {
    transform: scale(1.01);
  }
}

li article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li article time {
  color: #444;
  font-size: 0.9em;
  font-weight: bold;
}

li.modified::before {
  background: yellow;
  color: #000;
  content: "M";
}

li:target a {
  background: var(--gradient-a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

li h3 span:nth-of-type(1) {
  font-weight: 600;
}

li h3 span:nth-of-type(3) {
  color: var(--color-accent-hover);
}

li p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #555;
  font-size: 0.9em;
  width: 50ch;
  max-width: 90vw;
}

li p span {
  font-style: italic;
}

.form {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 10;
  text-align: right;
}

form {
  padding: 1em;
  text-align: center;
  border-radius: 0.4em;
  width: 80ch;
  max-width: 95vw;
  margin-left: auto;
  background: var(--gradient-b);
  color: #fff;
  margin-bottom: 0.4rem;
  transition: opacity 0.2s ease-in-out;
}

form.hidden {
  opacity: 0;
  pointer-events: none;
}

form label,
form input {
  display: block;
  width: 100%;
}

form label {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.4em;
  font-size: 0.9em;
}

form input {
  padding: 0.5em;
  border-radius: 2em;
  box-shadow: none;
  font-family: inherit;
  background: #fff;
  border: 2px solid transparent;
  transition: all 0.2s;
}

form input:focus {
  outline: none;
  box-shadow: var(--shadow);
}

form input:not(:placeholder-shown):invalid {
  border-color: hsl(0, 63%, 46%);
  border-radius: 0;
  box-shadow: none;
}

form button:hover,
form button:focus {
  background: var(--color-accent-hover);
  cursor: pointer;
}

form:valid input {
  border-color: var(--color-accent);
}

.button {
  background: none;
  border: none;
  padding: 0.5em 1em;
  font-weight: bold;
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  border-radius: 1.5em;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
  background: #b3f4e0;
  color: #000;
  border-color: transparent;
}

.button:focus {
  outline: none;
}

.footer {
  background: #fff;
  padding: 1em 2em;
  box-shadow: var(--shadow);
  border: 3em solid;
  border-image: var(--gradient-a);
  border-image-slice: 1;
}

.footer p.credits {
  text-align: center;
}

.footer p + p {
  margin: 1em 0;
}

.footer code {
  background: #eee;
  padding: 3px;
}

hr {
  border: none;
  background: none;
  border-bottom: 2px solid var(--color-accent);
  margin: 1em auto;
}

#logs {
  white-space: normal;
}

.footer {
  display: none;
}
